dm_control==1.0.16
fprs @ git+https://github.com/Co-Evolve/fprs@40ee809ca6ba15e66961d2153ee86e83550592c1
gymnasium==0.29.1
mujoco==3.1.1
mujoco_mjx==3.1.1
mujoco_utils @ git+https://github.com/Co-Evolve/mujoco-utils@2df1e87f920402c1d0a56f9ad53fa9e6e58ac4be
numpy==1.26.3
opencv_python==4.9.0.80
perlin_noise==1.12
Pillow==10.2.0
setuptools==69.0.3
transforms3d==0.4.1
